html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.card {
    background-color: lightseagreen;
    border:  3px solid  ;
    height: 240px;
    width:480px;
    margin: auto;
    border-radius: 10px;
}