label{
  margin-top: 5px;

}

button {
  margin-top: 1em;

}

p-radioButton{
  display: block;
  margin: 0.7em;
}

p-listBox >>> .ui-listbox{
  width:100%;
  height: 300px;
  overflow: scroll;
}
.avatar{
  float: left;
  margin: 5px;
}

.devName{
  font-size: xx-large;
  display: inline-block;
  margin: 15px 10ox 0  10px;
  min-height: 100px;
}
